*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
}

.page-top-container{
    width: 100%;
    height: 120dvh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(90deg , #b5838c 50%, #ffcdb2 50%);
}

.background-img{
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
    position: absolute; /* Ensure it covers the parent */
    top: 0;
    left: 0; /* Add left to ensure it starts from the left edge */
    z-index: 0; /* Keep this if you need it to be below other elements */
}

.nav{
    width: 100%;
    height: 12dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 10;
}

.nav-container{
    width:95%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-card1{
    width: 15%;
    height: 100%;
}

.nav-card2{
    min-width: 27%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-card1 img{
    width: 100%;
    height: 100%;
}

.nav-card2 ul{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-card2 ul li{
    list-style: none;
}

.nav-card2 ul li a{
    color: #6b6b6b;
    text-decoration: none;
    font-size: 1.0rem;
    animation: 0.6s ease-in-out;
}

.nav-card2 ul li a:hover{
    cursor: pointer;
    color: aliceblue;
    border-bottom: 2px solid aliceblue;
}

.page-top{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; /* Ensure it covers the parent */
    left: 0; /* Add left to ensure it starts from the left edge */
    z-index: 1;
    top: 0;
}

.page-top-left-container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: 2px solid red; */
}

.page-top-right-container{
    width: 25%;
    height: 100%;
    /* border: 2px solid red; */
}

.page-top-left-container-body h3{
    width: 60%;
    font-size: 2rem;
}

.page-top-left-container-body h1{
    font-size: 7.0rem;
    /* line-height: 1.5; */
}

.page-top-left-container-body a input{
    width: 20%;
    height: 60px;
    font-size: 1.5rem;
    color: #fff;
    border: 2px solid #fff;
    background: transparent;
}

.page-top-left-container-head{
    height: 15%;
}

.page-top-left-container-body{
    height: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.page-top-left-container-body .border{
    width: 20%;
    height: 5px;
    background: #fff;
}


.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #6e6876;
    /* border: 2px solid red; */
}

.about-us{
    width: 90%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    margin: 60px auto;
    /* border: 2px solid red; */
}

.about-us-head{
    width: 35%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    word-break: 1.5;
    /* border: 2px solid red; */
}

.about-us-head-title{
    font-size: 4rem;
}

.about-us-head-para{
    color: #c8c8c8;
    line-height: 2.0;
    text-align: center;
}

.about-us-head-border{
    width: 10%;
    height: 5px;
    background: #fff;
}

.about-us-body{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 50px; */
}

.about-us-body-card1{
    width: 30%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    /* border: 2px solid red; */
}

.about-us-body-card2{
    width: 35%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* border: 2px solid red; */
}

.about-us-body-card1-title1{
    font-size: 3rem;
}

.about-us-body-card1-title2{
    font-size: 1.5rem;
}

.about-us-body-card1-para{
    color: #c8c8c8;
    line-height: 2.0;
}

.about-us-card-border{
    width: 20%;
    height: 5px;
    background: #fff;
}

.about-us-body-card-button{
    width: 10dvw;
    height: 60px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 2px solid #fff;
    background: transparent;
}

.about-us-body-card-button input{
    border: none;
    color: #fff;
    background: transparent;
}

.about-us-card-img01{
    width: 100%;
    height: 75%;
}

.about-us-card-img02{
    width: 100%;
    height: 25%;
}

.address{
    width: 90%;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    margin: 60px auto;
    /* border: 2px solid red; */
}

.address-left{
    width: 40%;
}

.address-left-card-01{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
}

.address-left-card-01-head{
    width: 30%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
    background: #b5838c;
    /* border: 2px solid red; */
}

.address-left-card-01-head .fa-location-dot{
    font-size: 2rem;
    color: #ffcdb2;
    margin: 0;
    padding: 0;
}

.address-left-card-01-head h5{
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

.address-left-card-01-head p{
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.address-left-card-01-location {
    width: 75%;
    height: inherit;
}

.address-left-card-01-location iframe{
    width: 100%;
    height: 450px;
    /* border: 2px solid red; */
}

.address-right{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #fff;
    /* border: 2px solid red; */
}

.address-right-heading{
    font-size: 4rem;
}

.address-right .address-right-border{
    width: 10%;
    border: 3px solid #fff;
}

.address-right-time-date{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.address-right-time-date .date-span{
    width: 100%;
}

.menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin: 50px 0 70px 0;
    /* border: 2px solid red; */
}

.menu-head {
    width: 50%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    /* border: 2px solid red; */
}

.menu-head-title {
    font-size: 4rem;
}

.menu-head-para {
    color: #c8c8c8;
    line-height: 2.0;
}

.menu-head-border {
    width: 10%;
    height: 5px;
    background: #fff;
}

.menu-body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-body-card-01{
    width: 80%;
    height: inherit;
    display: flex;
    justify-content: end;
}

.menu-body-card-01-top{
    width: 60%;
    height: inherit;
    display: flex;
    justify-content: start;
    position: absolute;
    left: 0;
    top: 0;
}

.menu-body-card-02{
    width: 20%;
    height: 80%;
    /* border: 2px solid red; */
}

.menu-body-card-02 img{
    width: 100%;
    height: 100%;
}

.menu-body-card-01-box01{
    width: 100%;
    height: 90%;
    position: absolute;
    left: 0;
    top: 10%;
    /* border: 2px solid red; */
}

.menu-body-card-01-box, .menu-body-card-01-box-top{
    border-radius: 20px;
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    /* border: 2px solid red; */
}

.menu-body-card-01-box{
    width: 80%;
    height: 100%;
    padding: 50px;
    background: #b5838c;
}

.menu-body-card-01-box-top{
    width: 80%;
    height: 100%;
    background: #615c68;
}

.menu-body-card-01-top-head{
    width: 80%;
    height: 10%;
    position: relative;
    /* border: 2px solid red;  */
}

.menu-body-card-01-box-back{
    width: 50%;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.menu-body-card-01-box-front{
    width: 50%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    position: absolute;
    /* border: 2px solid red; */
    top: 0;
    padding: 20px;
}

.menu-dessert-head, .menu-coffee-head{
    width: 100%;
    height: 10%;
    font-size: 1.5rem;
}

.menu-desserts{
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 2px dotted #ffcdb2; 
}

.menu-coffee{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 2px dotted #ffcdb2; 
}

.menu-desserts-left, .menu-coffee-left{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.menu-desserts-img, .menu-coffee-img{
    width: 30%;
    height: 100%;
}

.menu-desserts-img img, .menu-coffee-img img{
    width: 70px;
    height: 70px;
    clip-path: circle(48%);
}

.menu-desserts-name, .menu-coffee-name{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-direction: column;
}

.menu-desserts-name h4, .menu-coffee-name h4{
    width: 100%;
    height: 50%;
    top: 50%;
    font-size: 1.2rem;
}

.menu-desserts-name p, .menu-coffee-name p{
    width: 100%;
    color: #c4c4c4;
}

.menu-desserts-price, .menu-coffee-price{
    font-size: 1.6rem;
}


.review{
    width: 90%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto  100px auto;
    gap: 50px;
    /* border: 2px solid red; */
}

.review-head{
    width: 30%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* border: 2px solid red; */
}

.review-body-border{
    width: 50px;
    height: 4px;
    background-color: #fff;
}

.review-body-cards{
    width: 20%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: 2px solid red; */
}

.review-body{
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    /* border: 2px solid red; */
}

.review-heading{
    font-size: 2.5rem;
}

.review-head-para{
    text-align: center;
}

.review-body-para, .review-head-para{
    line-height: 1.5;
    font-size: 0.8rem;
}

.review-user-name{
    width: 100%;
    height: 20%;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px 0;
    /* border: 2px solid red; */
}

.review-user-img{
    width: 25%;
    height: 100%;
    clip-path: circle(50%);
}

.review-user-id{
    font-size: 0.8rem;
}


.app-download{
    width: 60%;
    height: 50dvh;
    color: #fff;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: #e4b2a4;
    background: linear-gradient(to right, #ba8a8b, #c0938c, #e4b2a4);
    border-radius: 18px;
    position: relative;
    margin: 80px auto;
    /* border: 2px solid red; */
}

.app-download-background-img{
    width: 30%;
    height: 70%;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 30%;
    opacity: 20%;
}

.app-download-head{
    width: 50%;
    height: 25%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    padding: 20px auto;
    z-index: 1;
}

.app-download-head-img{
    position: absolute;
    top: -50%;
    z-index: 1;
}

.app-download-border{
    width: 10%;
    height: 4px;
    z-index: 1;
    border-bottom: 4px solid #fff;
}

.app-download-body{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    z-index: 1;
    /* border: 2px solid red; */
}

.app-download-title, .app-download-para{
    font-weight: 999;
    text-align: center;
    line-height: 1.5;
}

.footer{
    width: 60%;
    height: 40dvh;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
    /* border: 2px solid red; */
}


.f-left{
    width: 40%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* border: 2px solid red; */
}

.f-left-card-border, .f-right-card-border{
    width: 10%;
    height: 4px;
    background-color: #fff;
}

.f-right{
    width: 40%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-direction: column;
}

.f-left-card-01, .f-right-card-01{
    color: #facdb2;
}

.social-links{
    width: 50%;
    height: 20%;
    display: flex;
    gap: 10px;
    justify-content: end;
}

.f-right-card-02{
    font-size: 0.8rem;
    color: #e2e2e2;
}

.social-links i{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    background: #b5838c;
}


@media only screen and (min-width: 992px) and (max-width: 1280px){

    .nav-card2{
        min-width: 50%;
    }
    
    .nav-card2 ul li a{
        font-size: 1rem;
    }

    .page-top-left-container-body h3{
        width: 60%;
        font-size: 1.5rem;
    }
    
    .page-top-left-container-body h1{
        font-size: 2.5rem;
        line-height: 1.5;
    }

    .page-top-left-container-body a input{
        height: 40px;
        font-size: 0.8rem;
    }

    .about-us-body-card1-title1, .menu-head-title {
        font-size: 2rem;
    }

    .menu-desserts-img img, .menu-coffee-img img{
        width: 50px;
        height: 50px;
    }
    
    .about-us-body-card1-title2, .menu-dessert-head, .menu-coffee-head{
        font-size: 1rem;
    }

    .about-us-body-card1-para,.menu-desserts-name p, .menu-coffee-name p{
        font-size: 0.7rem;
    }

    .menu-desserts-name h4, .menu-coffee-name h4{
        font-size: 1.0rem;
    }

    .menu-desserts-price, .menu-coffee-price{
        font-size: 1.2rem;
    }
}



@media only screen and (max-width: 992px){

    .nav-card2{
        min-width: 45%;
    }
    
    .nav-card2 ul li a{
        font-size: 0.8rem;
    }

    .page-top-container{
        height: 120dvh;
    }

    .page-top-left-container-body{
        gap: 20px;
    }

    .page-top-left-container-body h3{
        width: 60%;
        font-size: 1.5rem;
    }
    
    .page-top-left-container-body h1{
        font-size: 2.5rem;
        line-height: 1.5;
    }

    .page-top-left-container-body a input{
        height: 40px;
        font-size: 0.8rem;
    }
    .about-us-body-card1{
        width: 50%;
    }

    .about-us-head-title{
        font-size: 2rem;
    }

    .about-us-body-card1-title1,.menu-dessert-head, .menu-coffee-head{
        font-size: 1.5rem;
    }
    
    .about-us-body-card1-title2, .menu-desserts-name p, .menu-coffee-name p{
        font-size: 0.8rem;
    }

    .about-us-body-card1-para {
        font-size: 0.7rem;
    }

    .about-us-body-card-button{
        width: 13dvw;
        height: 50px;
    }

    .address-left-card-01{
        flex-direction: column;
    }

    .address-left-card-01-head, .address-left-card-01-location{
        width: 90%;
    }

    .address-left-card-01-location iframe{
        width: 100%;
        height: 300px;
    }

    .menu-body-card-02{
        width: 0;
    }

    .menu-body-card-01{
        width: 100%;
    }

    .menu-body-card-01-top{
        width: 70%;
    }

    .menu-desserts, .menu-coffee{
        flex-direction: row;
        gap: 10px;
        padding: 15px 0;
    } 

    .menu-desserts-img img, .menu-coffee-img img{
        width: 40px;
        height: 40px;
    }

    .menu-desserts-name, .menu-coffee-name{
        width: 100%;
        height: 80%;
    }

    .menu-desserts-left, .menu-coffee-left{
        width: 100%;
        height: 80%;
    }

    .menu-desserts-name h4, .menu-coffee-name h4{
        font-size: 0.8rem;
    }

    .menu-desserts-name p, .menu-coffee-name p{
        font-size: 0.7rem;
    }

    .menu-desserts-price, .menu-coffee-price{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 600px) {

    .nav-card1{
        width: 20%;
    }

    .nav-card2{
        min-width: 60%;
    }
    
    .nav-card2 ul li a{
        font-size: 0.8rem;
    }

    .page-top-container{
        height: 80dvh;
    }

    .page-top-left-container-body{
        width: 75%;
        gap: 10px;
    }

    .page-top-left-container-body h3{
        width: 60%;
        font-size: 0.8rem;
    }
    
    .page-top-left-container-body h1{
        font-size: 1.5rem;
        line-height: 1.5;
    }

    .page-top-left-container-body a input{
        height: 30px;
        font-size: 0.5rem;
    }

    .about-us-head-title{
        font-size: 2rem;
    }

    .about-us-head-para{
        font-size: 0.7rem;
    }

    .about-us-body-card1{
        width: 50%;
    }
    
    .about-us-body-card1-title1{
        font-size: 1.0rem;
    }
    
    .about-us-body-card1-title2{
        font-size: 0.5rem;
    }

    .about-us-body-card1-para, .menu-desserts-name h4, .menu-coffee-name h4, .menu-desserts-price, .menu-coffee-price{
        font-size: 0.7rem;
    }

    .about-us-body-card-button{
        width: 13dvw;
        height: 50px;
    }

    .about-us-body-card-button input{
        font-size: 0.7rem;
    }

    .address-left-card-01{
        flex-direction: column;
    }

    .address-left-card-01-head, .address-left-card-01-location{
        width: 90%;
    }

    .address-left-card-01-location iframe{
        width: 100%;
        height: 300px;
    }

    .menu-body-card-02{
        width: 0;
    }

    .menu-body-card-01{
        width: 100%;
    }

    .menu-body-card-01-top{
        width: 70%;
    }

    .menu-body-card-01-box-back{
        width: 60%;
    }

    .menu-desserts, .menu-coffee{
        flex-direction: column;
    }

    .menu-desserts-name, .menu-coffee-name, .menu-desserts-left, .menu-coffee-left{
        width: 100%;
        flex-direction: column;
    }
}